.git/
.github/
config/*
!config/config.json
!config/config.json.ctmpl
lib/
node_modules/
.editorconfig
.gitignore
.gitmodules
LICENSE
README.md
prod-docker-compose.yml
dev-docker-compose.yml
docker-compose.build.yml
